################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program/.vs/Program/FileContentIndex/53bd571f-ac86-4199-936a-ef0d3acbfa3f.vsidx
/Program/.vs/Program/FileContentIndex/461ea2bf-57cd-4745-8764-21005e358d1d.vsidx
/Program/.vs/Program/FileContentIndex/81dbf78f-21c2-4eb0-8804-cc8d78cbab06.vsidx
/Program/.vs/Program/FileContentIndex/6f7bf799-e2b4-45eb-9867-572345390bcd.vsidx
