################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program/.vs/Program/FileContentIndex/6f7bf799-e2b4-45eb-9867-572345390bcd.vsidx
/Program/.vs/Program/FileContentIndex/3ec9bab2-3bec-4572-aa00-02ca7023c732.vsidx
/Program/.vs/Program/FileContentIndex/268fd9a6-5114-4f5b-a2fb-d8a1b2504f60.vsidx
/Program/.vs/Program/FileContentIndex/490f75c6-8059-4320-92b7-c143918e4c4e.vsidx
/Program/.vs/Program/FileContentIndex/a34b20db-ed8d-484a-b2b9-8304cd8a2bc5.vsidx
/Program/.vs/Program/FileContentIndex/dbd9164e-9555-453e-9b17-4325ecf7ca93.vsidx
/Program/.vs/Program/FileContentIndex/read.lock
/Program/.vs/Program/FileContentIndex/cc5eb626-b09a-4010-89a9-bfcf0c0350c0.vsidx
