################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program/.vs/Program/FileContentIndex/60aabb7d-6aca-4df4-aac5-f892e6a74612.vsidx
